/* Formatação Geral */
* {
    margin: 0;
    padding: 0;
    font-family: "Questrial", sans-serif;
    box-sizing: border-box;
}

body {
    background: url("../images/background1.png");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-weight: 500;
    font-size: 6em;
    color: #ffffff;
}

p {
    font-size: 1.2em;
    color: #ffffff;
}

button {
    background-color: rgba(255, 255, 255);
    border: none;
    padding: 0.9em 1.5em;
    font-size: 1.2em;
    color: #000000;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: rgba(0, 0, 0);
    color: #ffffff;
}

hr {
    border-color: #ffffff;
}

@media (max-width: 768px) {
    body {
        background: url("../images/background2.png");
        background-attachment: scroll;
    }

    h1 {
        font-size: 4em;
    }

    button {
        font-size: 1.2em;
    }
}

/* Galerias */
.galeria {
    margin: 4em 2em;
    display: flex;
    flex-direction: row;
}

.galeria .imagem, .galeria .conteudo {
    flex: 1;
}

.galeria .conteudo {
    padding: 4em;
    text-align: center;
    align-self: center;
}

@media (max-width: 768px) {
    .galeria {
        display: none;
    }
}

/* Hero */
#hero {
    padding: 8em 0;
    text-align: center;
}

#hero h1 {
    margin-top: 0.5em;
}

#hero p {
    margin-top: 0.5em;
}

#hero button {
    margin-top: 2em;
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
        align-content: center;
        padding: 0 2em;
    }

    #hero img {
        width: 100%;
        text-align: center;
    }

    #hero button {
        margin-top: 1.2em;
    }
}

/* Sobre */
#sobre {
    padding: 4em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

#sobre .conteudo, #sobre .topicos {
    flex: 1;
    padding: 0 6em;
}

#sobre h1 {
    font-size: 3em;
    margin-top: 0.5em;
}

#sobre button {
    margin-top: 1em;
}

#sobre img {
    width: 100%;
}

#sobre .conteudo {
    text-align: center;
}

#sobre .item-de-topicos {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 20px;
    margin: 1em 0;
    font-weight: 600;
}

#sobre .item-de-topicos img {
    margin-bottom: 1em;
    width: 100%;
}

@media (max-width: 768px) {
    #sobre {
        padding: 2em 2em;
        flex-direction: column;
    }

    #sobre h1 {
        font-size: 2.5em;
    }

    #sobre p {
        font-size: 1.2em;
    }

    #sobre .conteudo, #sobre .topicos {
        padding: 2em;
    }
}

/* Serviços */
#servicos {
    padding: 4em;
}

#servicos h1 {
    font-size: 3em;
    margin-top: 0.5em;
    text-align: center;
}

#servicos .topicos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 6em;
}

#servicos .item-de-topicos {
    text-align: center;
    flex: 1;
    padding: 2em 1em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 0 2em;
    font-weight: 600;
}

#servicos .item-de-topicos button {
    padding: 0.8em 1.2em;
    font-size: 1.0em;
    margin-top: 1em;
}

#servicos .item-de-topicos img {
    margin-bottom: 1em;
    width: 100%;
}

@media (max-width: 768px) {
    #servicos {
        padding: 2em 2em;
    }

    #servicos h1 {
        font-size: 2.5em;
    }

    #servicos .topicos {
        padding: 1em;
        flex-direction: column;
    }

    #servicos .item-de-topicos {
        margin-top: 1em;
    }

    #servicos .item-de-topicos br {
        display: none;
    }
}

/* Contato */
#contato {
    padding: 4em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

#contato img {
    width: 100%;
}

#contato h1 {
    font-size: 3em;
    margin-top: 0.5em;
}

#contato .conteudo, #contato form {
    flex: 1;
    padding: 0 6em;
}

#contato .conteudo {
    text-align: center;
}

#contato form {
    display: flex;
    flex-direction: column;
}

#contato label {
    color: #ffffff;
    margin-bottom: 0.3em;
}

#contato input, #contato textarea {
    background-color: rgba(255, 255, 255);
    border: none;
    border-radius: 0.4em;
}

#contato input {
    height: 2em;
    margin-bottom: 1em;
    font-family: "Questrial", sans-serif;
    padding: 0.5em;
}

#contato textarea {
    height: 15em;
    font-family: "Questrial", sans-serif;
    padding: 0.5em;
}

#contato button {
    margin-top: 1em;
    padding: 0.8em 1.2em;
    font-size: 1.0em;
}

@media (max-width: 768px) {
    #contato {
        padding: 2em 2em;
        flex-direction: column;
    }
    
    #contato h1 {
        font-size: 2.2em;
    }

    #contato p {
        font-size: 1.2em;
    }

    #contato .conteudo, #contato form {
        padding: 2em;    
    }

    #contato form {
        width: 100%;
        margin-bottom: 2em;
    }
}

/* Rodapé */
footer p {
    text-align: center;
    padding-bottom: 2em;
    font-size: 1.2em;
    font-weight: 600;
}

@media (max-width: 768px) {
    footer p {
        font-size: 1em;
        padding: 0 4em;
        padding-bottom: 2em;
    }
}